* {
    margin: auto 0;

}


h1 {
    color: red;
}

h2 {
    display: flex;
}


body {
    display: grid;
    grid-template-rows: auto 3fr auto;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
    grid-template-rows: 1/1;
}

.main-wrapper {
    display: flex;
    height: 500px;
    width: 100%;
}

.game-score {}

.game-board {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: blue;
    margin-bottom: 200px;
    gap: 15px;
    grid-column: 1/3;
}

.footer {
    margin-top: 147px;
    height: 100px;
    width: 100%;
    background-color: orange;
}

.cell {
    display: flex;
    justify-content: center;
    align-self: center;
}

.cell:hover {
    background-color: blueviolet;
    opacity: 70%;
}




.right-grid {
    display: flex;
    height: 100%;
    width: 250px;
}

.left-grid {
    display: flex;
    height: 100%;
    width: 250px;
}